.vs/launch.vs.json
.vs/ogre-glvl.slnx/FileContentIndex/233cdf4e-bfa6-4ad3-9bf8-737053dec2d9.vsidx
.vs/ogre-glvl.slnx/v18/.wsuo
.vs/ogre-glvl.slnx/v18/Browse.VC.db
.vs/ogre-glvl.slnx/v18/Browse.VC.db-shm
.vs/ogre-glvl.slnx/v18/Browse.VC.db-wal
.vs/ogre-glvl.slnx/v18/Browse.VC.opendb
.vs/ogre-glvl.slnx/v18/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
